/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ex]ternal/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Vv]ideoCaptures/
/[Vv]isualScriptingGenerated/
/.vs/
.gradle/
/UserSettings/

# Archivos de soluciones de editores de código
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.saved

# Archivos del sistema operativo
.DS_Store
Thumbs.db